@import 'reset';

$blueFont: #000000;
$blueBackground: #eeeeff;
$blueHover: rgba(0,50,255,0.2);
$headerHeight: 100px;
$menuWidth: 220px;

h1, h2, h3, a {
  color: $blueFont;
}

h1 {
  font-size: 37px;
}

h2 {
  font-size: 27px;
}



body {
  position: absolute;
  min-height: 100%;
  line-height: 1.3;
}

html.background #background {
  display: block;
}
#background {
  position: absolute;
  background: url("img/header.jpg") center;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

#header {
  order: 0;
  flex: 1 100%;
  height: $headerHeight;
  position: relative;

  img {
    height: 95%;
    padding-left: $menuWidth / 2 - 35px;
  }

  h3 {
    position: absolute;
    left: $menuWidth;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 70px;
    line-height: $headerHeight;
  }

}

nav {
  order: 1;
  flex: 1;
  max-width: $menuWidth;

  ul {
    background-color: $blueBackground;
  }

  a {
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
    display: block;
    padding: 5px 5px 5px 2em;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background-color: $blueHover;
    }

    &:before {
      background: no-repeat center;
      background-size: 1.5em;
      width: 1.5em;
      height: 100%;
      top: 0;
      left: 0.2em;
      display: inline-block;
      position: absolute;
      content: '';
    }
  }

  li.home > a:before { background-image: url("img/home.svg") }
  li.bond > a:before { background-image: url("img/bond.svg") }
  li.cube > a:before { background-image: url("img/cube.svg") }
  li.java > a:before { background-image: url("img/java.svg") }
  li.book > a:before { background-image: url("img/book.svg") }
  li.technics > a:before { background-image: url("img/technics.svg") }
  li.stereoscopy > a:before { background-image: url("img/stereoscopy.svg") }

}

main {
  order: 2;
  flex: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.box {
  $boxPadding: 10px;
  background-color: $blueBackground;
  padding: $boxPadding;
  padding-bottom: $boxPadding + 20px; // publication date
  margin-bottom: $boxPadding + 10px;
  overflow: hidden;
  position: relative;

  &.layout1 {
    h1, h2, h3 {
      text-align: center;
      margin-bottom: 5px;
    }
    img {
      float: left;
      margin-right: 10px;
    }
    .publication-date {
      position: absolute;
      bottom: $boxPadding;
      right: $boxPadding;
    }
  }

  &.layout2 {
    h1, h2, h3 {
      text-align: center;
    }
    img {
      float: right;
      margin-left: 10px;
    }
    .publication-date {
      position: absolute;
      bottom: $boxPadding;
      left: $boxPadding;
    }
  }


}